In [2]:
import requests
import json
import datetime
import hashlib
from datetime import timezone
import sqlite3
import codecs
import numpy as np
import pandas as pd
from IPython.display import display

In [3]:
def p2f(x): 
    return float(x.strip('%'))/100    

def convert_perc(df):
    for i in range(df.shape[0]): #iterate over rows
        for j in range(df.shape[1]): #iterate over columns
            checker = str(df.iloc[i, j])
    #         print(checker)
            if ('%' in checker) and (len(checker) < 5):
                df.iloc[i, j] = p2f(df.iloc[i, j])
                
    return df

def Apply_Change(df, column, value, indices):
    for i, row in df.iterrows():
        if i >= indices:
            df.at[i,column] = value
            
    return temp.copy()

def create_stat_table(ID, time, Item, temp):
    sql_command = """

    SELECT
        *
    
    FROM Items 

    WHERE ITEMId = {ID};

    """

    
    for x in Items_to_Table:
        if Item['ChildItemId'].iloc[0] != 0:
            SQL = sql_command.format(ID = Item['ChildItemId'].iloc[0])
            child_Item = pd.read_sql_query(SQL, sqliteConnection)
            child_Item = convert_perc(child_Item)
        else:
            child_Item = pd.DataFrame(0, index=np.arange(1), columns=list(Item))
        
        if Items_to_Table[x] == 'HP5_and_MP5':
            temp.loc[time:, 'HP5'] = temp.loc[time:, 'HP5'] + Item[x].iloc[0] - child_Item[x].iloc[0]
            temp.loc[time:, 'MP5'] = temp.loc[time:, 'MP5'] + Item[x].iloc[0] - child_Item[x].iloc[0]
        elif Items_to_Table[x] == 'Protections':
            temp.loc[time:, 'Magical_Protections'] = temp.loc[time:, 'Magical_Protections'] + Item[x].iloc[0] - child_Item[x].iloc[0]
            temp.loc[time:, 'Physical_Protection'] = temp.loc[time:, 'Physical_Protection'] + Item[x].iloc[0] - child_Item[x].iloc[0]
        elif Items_to_Table[x] == 'Pen':
            if Item[x].iloc[0] > 1:
                temp.loc[time:, 'Flat_Penetration'] = temp.loc[time:, 'Flat_Penetration']+ Item[x].iloc[0] - child_Item[x].iloc[0]
            else:
                temp.loc[time:, 'Percent_Penetration'] = temp.loc[time:, 'Percent_Penetration'] + Item[x].iloc[0] - child_Item[x].iloc[0]
        else:
            temp.loc[time:, Items_to_Table[x]] = temp.loc[time:, Items_to_Table[x]] + Item[x].iloc[0] - child_Item[x].iloc[0]

    return temp

def create_stat_table_BAD(ID, time, Item, temp):

    temp = Values_template.copy()

    for x in Items_to_Table:
        
        
        
        
        if Items_to_Table[x] == 'HP5_and_MP5':
            temp = Apply_Change(temp, 'HP5', Item[x].iloc[0], time)
            temp = Apply_Change(temp, 'MP5', Item[x].iloc[0], time)
        elif Items_to_Table[x] == 'Protections':
            temp = Apply_Change(temp, 'Magical_Protections', Item[x].iloc[0], time)
            temp = Apply_Change(temp, 'Physical_Protection', Item[x].iloc[0], time)
        elif Items_to_Table[x] == 'Pen':
            if Item[x].iloc[0] < 1:
                temp = Apply_Change(temp, 'Flat_Penetration', Item[x].iloc[0], time)
            else:
                temp = Apply_Change(temp, 'Percent_Penetration', Item[x].iloc[0], time)
        else:
            temp = Apply_Change(temp, Items_to_Table[x], Item[x].iloc[0], time)
    
    return temp.copy()

In [4]:
len(df)

NameError: name 'df' is not defined

In [4]:
stats = stats_dfs[int(0)]
display(stats)
for x in range(5084):
    stats = stats + stats_dfs[int(x+1)]
    
stats = stats/5085
display(stats)

NameError: name 'stats_dfs' is not defined

In [5]:
stats.to_csv('AVG_stats.csv', index=False)

NameError: name 'stats' is not defined

In [6]:
sqliteConnection = sqlite3.connect('Smite.db')
cursor = sqliteConnection.cursor()

In [5]:
sql_command = """

SELECT 
    Match,
    Reference_Name,
    Gold_Per_Minute,
    Joust_Points,
    Rank_Stat_Joust,
    Win_Status,
    
    ItemId1,
    A4.ItemId as "A4",
    A3.ItemId as "A3",
    A2.ItemId as "A2",
    A1.ItemId as "A1",
    
    ItemId2,
    B4.ItemId as "B4",
    B3.ItemId as "B3",
    B2.ItemId as "B2",
    B1.ItemId as "B1",
    
    ItemId3,
    C4.ItemId as "C4",
    C3.ItemId as "C3",
    C2.ItemId as "C2",
    C1.ItemId as "C1",

    ItemId4,
    D4.ItemId as "D4",
    D3.ItemId as "D3",
    D2.ItemId as "D2",
    D1.ItemId as "D1",
    
    ItemId5,
    E4.ItemId as "E4",
    E3.ItemId as "E3",
    E2.ItemId as "E2",
    E1.ItemId as "E1",
    
    ItemId6,
    F4.ItemId as "F4",
    F3.ItemId as "F3",
    F2.ItemId as "F2",
    F1.ItemId as "F1"

FROM Joust_Ranked base

LEFT JOIN Items A4
ON base.ItemId1 = A4.ItemId
LEFT JOIN Items A3
ON A4.ChildItemId = A3.ItemId
LEFT JOIN Items A2
ON A3.ChildItemId = A2.ItemId
LEFT JOIN Items A1
ON A2.ChildItemId = A1.ItemId


LEFT JOIN Items B4
ON base.ItemId2 = B4.ItemId
LEFT JOIN Items B3
ON B4.ChildItemId = B3.ItemId
LEFT JOIN Items B2
ON B3.ChildItemId = B2.ItemId
LEFT JOIN Items B1
ON B2.ChildItemId = B1.ItemId


LEFT JOIN Items C4
ON base.ItemId3 = C4.ItemId
LEFT JOIN Items C3
ON C4.ChildItemId = C3.ItemId
LEFT JOIN Items C2
ON C3.ChildItemId = C2.ItemId
LEFT JOIN Items C1
ON C2.ChildItemId = C1.ItemId


LEFT JOIN Items D4
ON base.ItemId4 = D4.ItemId
LEFT JOIN Items D3
ON D4.ChildItemId = D3.ItemId
LEFT JOIN Items D2
ON D3.ChildItemId = D2.ItemId
LEFT JOIN Items D1
ON D2.ChildItemId = D1.ItemId


LEFT JOIN Items E4
ON base.ItemId5 = E4.ItemId
LEFT JOIN Items E3
ON E4.ChildItemId = E3.ItemId
LEFT JOIN Items E2
ON E3.ChildItemId = E2.ItemId
LEFT JOIN Items E1
ON E2.ChildItemId = E1.ItemId


LEFT JOIN Items F4
ON base.ItemId6 = F4.ItemId
LEFT JOIN Items F3
ON F4.ChildItemId = F3.ItemId
LEFT JOIN Items F2
ON F3.ChildItemId = F2.ItemId
LEFT JOIN Items F1
ON F2.ChildItemId = F1.ItemId

WHERE Rank_Stat_Joust >= 1500
AND Controller = 'Joust_KnM';

"""

df = pd.read_sql_query(sql_command, sqliteConnection)
# cursor.execute(sql_command)

In [18]:
df["stats"] = np.nan
df

,Match,Reference_Name,Gold_Per_Minute,Joust_Points,Rank_Stat_Joust,Win_Status,ItemId1,A4,A3,A2,...,E4,E3,E2,E1,ItemId6,F4,F3,F2,F1,stats
0,1237650610,Cthulhu,771,81,1801.88800,Winner,19496,19496.0,NaN,NaN,...,9851.0,9849.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1237650610,Cu Chulainn,688,81,1801.88800,Winner,19496,19496.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1237651557,Hercules,745,72,1615.55591,Winner,19496,19496.0,NaN,NaN,...,9112.0,9839.0,12663.0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1237651557,Hera,704,73,1502.48900,Winner,19677,19677.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1237651557,Nu Wa,646,0,1569.79565,Loser,19677,19677.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49789,1240856697,Anhur,718,10,1629.16064,Winner,19672,19672.0,NaN,NaN,...,7574.0,7573.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
49790,1240856697,Eset,714,10,1629.16064,Winner,19609,19609.0,NaN,NaN,...,7910.0,8239.0,9828.0,NaN,0,NaN,NaN,NaN,NaN,NaN
49791,1240856697,Anubis,690,10,1629.16064,Winner,19508,19508.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
49792,1240856697,Hou Yi,624,0,1800.47300,Loser,19490,19490.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
49793,1240856697,Merlin,568,0,1779.39800,Loser,19640,19640.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [19]:
Item_Order = ["A1", "A2", "A3", "A4", "B1", "B2", "B3", "B4", "C1", "C2", "C3", "C4", "D1", "D2", "D3", "D4", "E1", "E2", "E3", "E4", "F1", "F2", "F3", "F4"]

In [20]:
df.loc[0][["E1", "E2", "E3"]]

E1       NaN
E2       NaN
E3    9849.0
Name: 0, dtype: object

In [21]:
stats_list = ['Attack_Speed','Basic_Attack_Damage','Cooldown_Reduction','Crowd_Control_Reduction','Critical_Strike_Chance','Damage_Reduction','HP5','Health','MP5','Lifesteal','Flat_Penetration','Percent_Penetration','Magical_Power','Magical_Protections','Mana','Movement_Speed','Physical_Power','Physical_Protection']

Values_template  = pd.DataFrame(0, index=np.arange(1801), columns=stats_list)
display(Values_template)

,Attack_Speed,Basic_Attack_Damage,Cooldown_Reduction,Crowd_Control_Reduction,Critical_Strike_Chance,Damage_Reduction,HP5,Health,MP5,Lifesteal,Flat_Penetration,Percent_Penetration,Magical_Power,Magical_Protections,Mana,Movement_Speed,Physical_Power,Physical_Protection
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1800,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [22]:
x = 3

temp = Values_template.copy()
display(temp)

temp.Attack_Speed.iloc[x:] = 30
display(temp)

,Attack_Speed,Basic_Attack_Damage,Cooldown_Reduction,Crowd_Control_Reduction,Critical_Strike_Chance,Damage_Reduction,HP5,Health,MP5,Lifesteal,Flat_Penetration,Percent_Penetration,Magical_Power,Magical_Protections,Mana,Movement_Speed,Physical_Power,Physical_Protection
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1798,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1799,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1800,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

,Attack_Speed,Basic_Attack_Damage,Cooldown_Reduction,Crowd_Control_Reduction,Critical_Strike_Chance,Damage_Reduction,HP5,Health,MP5,Lifesteal,Flat_Penetration,Percent_Penetration,Magical_Power,Magical_Protections,Mana,Movement_Speed,Physical_Power,Physical_Protection
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1797,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1798,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1799,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1800,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
Items_to_Table = {
    'Basic_Attack_Damage':'Basic_Attack_Damage',
    'Cooldown_Reduction':'Cooldown_Reduction',
    'Critical_Strike_Chance':'Critical_Strike_Chance',
    'Crowd_Control_Reduction':'Crowd_Control_Reduction',
    'Damage_Reduction':'Damage_Reduction',
    'HP5':'HP5',
    'HP5_and_MP5': 'HP5_and_MP5', # will have to if loop this i think
    'Health':'Health',
    'Mana':'Mana',
    'MP5':'MP5',
    'Magical_Lifesteal':'Lifesteal',
    'Magical_Penetration':'Pen', # have to split between flat and percent
    'Magical_Power':'Magical_Power',
    'Magical_Protections':'Magical_Protections',
    'Magical_Power':'Magical_Power',
    'Maximum_Health':'Health',
    'Movement_Speed':'Movement_Speed',
    'Penetration':'Pen',# have to split between flat and percent
    'Physical_Critical':'Critical_Strike_Chance',
    'Physical_Lifesteal':'Lifesteal',
    'Physical_Penetration':'Pen',# have to split between flat and percent
    'Physical_Power':'Physical_Power',
    'Physical_Protection':'Physical_Protection',
    'Protections':'Protections'# will have to if loop this i think
}

ID = 7784.0
time = 192

SQL = sql_command.format(ID = ID)
Item = pd.read_sql_query(SQL, sqliteConnection)
Item = convert_perc(Item)

temp = Values_template.copy()

# def create_stat_table(ID, time, Item, temp)

#     temp = Values_template.copy()

#     for x in Items_to_Table:
#         if Items_to_Table[x] == 'HP5_and_MP5':
#             temp['HP5'].iloc[time:] = Item[x].iloc[0]
#             temp['HP5'].iloc[time:] = Item[x].iloc[0]
#         elif Items_to_Table[x] == 'Protections':
#             temp['Magical_Protections'].iloc[time:] = Item[x].iloc[0]
#             temp['Physical_Protection'].iloc[time:] = Item[x].iloc[0]
#         elif Items_to_Table[x] == 'Pen':
#             if Item[x].iloc[0] < 1:
#                 temp['Flat_Penetration'].iloc[time:] = Item[x].iloc[0]
#             else:
#                 temp['Percent_Penetration'].iloc[time:] = Item[x].iloc[0]
#         else:
#             temp[Items_to_Table[x]].iloc[time:] = Item[x].iloc[0]

#     return(temp)

In [ ]:
ts1 = datetime.datetime.now(timezone.utc)

stats_dfs = list()

for i in range(len(df)):
    
    if i % 100 == 0:
            print(i)
    
    
    sql_command = """

    SELECT
        *

    FROM Items 

    WHERE ITEMId = {ID};

    """
    temp = Values_template.copy()

    starting_gold = 1500
    time = 0
    gps = df.loc[i]["Gold_Per_Minute"]/60

    for x in Item_Order:
        ID = df.loc[i][x]
        if pd.isna(ID):
            continue
        else:
            #pull item data for each item
            SQL = sql_command.format(ID = ID)
            Item = pd.read_sql_query(SQL, sqliteConnection)
            Item = convert_perc(Item)

            #check if the item is bought at time = 0
            if (starting_gold >= Item.iloc[0]["Price"]).any():
                temp = create_stat_table(ID, time, Item, temp)
                starting_gold = starting_gold - Item.iloc[0]["Price"]
            else:
                time = round(Item.iloc[0]["Price"]/gps + time)
                temp = create_stat_table(ID, time, Item, temp)


    stats_dfs.append(temp.copy())
    df.loc[i, 'stats'] = len(stats_dfs)-1
        
display(df)

ts2 = datetime.datetime.now(timezone.utc)
delta = ts2 - ts1
print(delta.total_seconds())

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600

In [32]:
temp['HP5'].iloc[time:] = Item['HP5'].iloc[0]
display(temp['HP5'].iloc[time:])

192     0
193     0
194     0
195     0
196     0
       ..
1796    0
1797    0
1798    0
1799    0
1800    0
Name: HP5, Length: 1609, dtype: int64

In [20]:
for x in Items_to_Table:
    display(x)
    display(Items_to_Table[x])

'Basic_Attack_Damage'

'Basic_Attack_Damage'

'Cooldown_Reduction'

'Cooldown_Reduction'

'Critical_Strike_Chance'

'Critical_Strike_Chance'

'Crowd_Control_Reduction'

'Crowd_Control_Reduction'

'Damage_Reduction'

'Damage_Reduction'

'HP5'

'HP5'

'HP5_and_MP5'

'HP5_and_MP5'

'Health'

'Health'

'Mana'

'Mana'

'MP5'

'MP5'

'Magical_Lifesteal'

'Lifesteal'

'Magical_Penetration'

'Pen'

'Magical_Power'

'Magical_Power'

'Magical_Protections'

'Magical_Protections'

'Maximum_Health'

'Health'

'Movement_Speed'

'Movement_Speed'

'Penetration'

'Pen'

'Physical_Critical'

'Critical_Strike_Chance'

'Physical_Lifesteal'

'Lifesteal'

'Physical_Penetration'

'Pen'

'Physical_Power'

'Physical_Power'

'Physical_Protection'

'Physical_Protection'

'Protections'

'Protections'

In [25]:
Items_to_Table = {
    'Basic_Attack_Damage':'Basic_Attack_Damage',
    'Cooldown_Reduction':'Cooldown_Reduction',
    'Critical_Strike_Chance':'Critical_Strike_Chance',
    'Crowd_Control_Reduction':'Crowd_Control_Reduction',
    'Damage_Reduction':'Damage_Reduction',
    'HP5':'HP5',
    'HP5_and_MP5': 'HP5_and_MP5', # will have to if loop this i think
    'Health':'Health',
    'Mana':'Mana',
    'MP5':'MP5',
    'Magical_Lifesteal':'Lifesteal',
    'Magical_Penetration':'Pen' # have to split between flat and percent
    'Magical_Power':'Magical_Power',
    'Magical_Protections':'Magical_Protections',
    'Magical_Power':'Magical_Power',
    'Maximum_Health':'Health',
    'Movement_Speed':'Movement_Speed',
    'Penetration':'Pen',# have to split between flat and percent
    'Physical_Critical':'Critical_Strike_Chance',
    'Physical_Lifesteal':'Lifesteal',
    'Physical_Penetration':'Pen',# have to split between flat and percent
    'Physical_Power':'Physical_Power',
    'Physical_Protection':'Physical_Protection'
    'Protections':'Protections'# will have to if loop this i think
}

SyntaxError: invalid syntax (1125766389.py, line 14)

In [20]:
for col in df.columns:
    print(col)

Match
Reference_Name
Gold_Per_Minute
Joust_Points
Rank_Stat_Joust
Win_Status
ItemId1
DeviceName
DeviceName
DeviceName
ItemTier
ChildItemId
RootItemId
ItemId2
DeviceName
DeviceName
DeviceName
ItemId3
DeviceName
DeviceName
DeviceName
ItemId4
DeviceName
DeviceName
DeviceName
ItemId5
DeviceName
DeviceName
DeviceName
ItemId6
DeviceName
DeviceName
DeviceName

In [40]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", ["MBA", "DBA", "CBA"]],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
tester = pd.DataFrame(dict)
 
print(tester)

dict2 = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", tester],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
tester2 = pd.DataFrame(dict2)
 
display(tester2)

display(tester2.iloc[3]["degree"])

     name           degree  score
0  aparna              MBA     90
1  pankaj              BCA     40
2  sudhir           M.Tech     80
3   Geeku  [MBA, DBA, CBA]     98

     name                                             degree  score
0  aparna                                                MBA     90
1  pankaj                                                BCA     40
2  sudhir                                             M.Tech     80
3   Geeku       name           degree  score
0  aparna   ...     98

     name           degree  score
0  aparna              MBA     90
1  pankaj              BCA     40
2  sudhir           M.Tech     80
3   Geeku  [MBA, DBA, CBA]     98

In [44]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
cursor.close()

In [18]:
sql_command = """

SELECT 
    Wards_Placed,
    SUM(CASE WHEN Win_Status = 'Winner' THEN 1 ELSE 0 END) as Win_num,
    count(*) as total_games

FROM Conq_Ranked
WHERE Wards_Placed <= 50
GROUP BY 1


ORDER BY 1, 2



;

"""

df = pd.read_sql_query(sql_command, sqliteConnection)
# cursor.execute(sql_command)

In [19]:
df

    Wards_Placed  Win_num  total_games
0              0    29809        66998
1              1    44355        93058
2              2    56617       118050
3              3    62462       128799
4              4    64461       131886
5              5    61903       125026
6              6    56390       112524
7              7    49648        97463
8              8    43141        83448
9              9    36177        69203
10            10    29855        56008
11            11    23945        44254
12            12    18444        34369
13            13    14025        25930
14            14    10304        19274
15            15     7668        14147
16            16     5594        10422
17            17     4087         7557
18            18     2861         5504
19            19     2086         3950
20            20     1519         2886
21            21     1098         2162
22            22      798         1579
23            23      610         1188
24            24      484          881
25            25      296          639
26            26      259          485
27            27      209          389
28            28      159          300
29            29       98          206
30            30       89          165
31            31       57          133
32            32       41           84
33            33       41           85
34            34       36           63
35            35       16           48
36            36       13           31
37            37       15           41
38            38       11           28
39            39        7           14
40            40        6           11
41            41        3           13
42            42        6           10
43            43        4           12
44            44        2            8
45            45        0            3
46            46        0            4
47            47        2            4
48            48        1            2
49            49        4            5
50            50        1            2

In [23]:
sql_command = """
SELECT 
Wards_Placed,
Win_num,
Win_num*1.0
total_games,
100*(Win_num*1.0/total_games*1.0) as win_Perc


FROM (SELECT 
    Wards_Placed,
    SUM(CASE WHEN Win_Status = 'Winner' THEN 1 ELSE 0 END) as Win_num,
    count(*) as total_games

FROM joust_Ranked
WHERE Wards_Placed <= 50
GROUP BY 1)


ORDER BY 1, 2



;

"""

df = pd.read_sql_query(sql_command, sqliteConnection)
df
# cursor.execute(sql_command)

    Wards_Placed  Win_num  total_games    win_Perc
0              0    31341      31341.0   48.378433
1              1    50008      50008.0   50.947471
2              2    57920      57920.0   51.118662
3              3    56625      56625.0   51.051227
4              4    45660      45660.0   50.662406
5              5    29336      29336.0   48.836358
6              6    15859      15859.0   47.207835
7              7     9167       9167.0   46.966902
8              8     5759       5759.0   47.485158
9              9     3787       3787.0   48.470498
10            10     2426       2426.0   46.988185
11            11     1696       1696.0   48.861999
12            12     1176       1176.0   50.042553
13            13      716        716.0   47.828991
14            14      510        510.0   48.897411
15            15      320        320.0   47.761194
16            16      249        249.0   50.712831
17            17      163        163.0   48.224852
18            18      109        109.0   48.017621
19            19       90         90.0   56.603774
20            20       40         40.0   40.816327
21            21       33         33.0   46.478873
22            22       29         29.0   50.877193
23            23       17         17.0   45.945946
24            24       18         18.0   69.230769
25            25       11         11.0   55.000000
26            26        4          4.0   36.363636
27            27        8          8.0   80.000000
28            28        3          3.0   37.500000
29            29        2          2.0   28.571429
30            30        3          3.0   75.000000
31            31        1          1.0   33.333333
32            32        0          0.0    0.000000
33            33        1          1.0  100.000000
34            34        2          2.0  100.000000
35            35        1          1.0  100.000000
36            36        1          1.0  100.000000
37            40        0          0.0    0.000000
38            41        1          1.0  100.000000

In [11]:
df

    Wards_Placed  Win_num  total_games  Win_Perc
0              0    31341        64783         0
1              1    50008        98156         0
2              2    57920       113305         0
3              3    56625       110918         0
4              4    45660        90126         0
5              5    29336        60070         0
6              6    15859        33594         0
7              7     9167        19518         0
8              8     5759        12128         0
9              9     3787         7813         0
10            10     2426         5163         0
11            11     1696         3471         0
12            12     1176         2350         0
13            13      716         1497         0
14            14      510         1043         0
15            15      320          670         0
16            16      249          491         0
17            17      163          338         0
18            18      109          227         0
19            19       90          159         0
20            20       40           98         0
21            21       33           71         0
22            22       29           57         0
23            23       17           37         0
24            24       18           26         0
25            25       11           20         0
26            26        4           11         0
27            27        8           10         0
28            28        3            8         0
29            29        2            7         0
30            30        3            4         0
31            31        1            3         0
32            32        0            2         0
33            33        1            1         1
34            34        2            2         1
35            35        1            1         1
36            36        1            1         1
37            40        0            1         0
38            41        1            1         1